<div class="col-md-6 flash">
  <div class="media">
    <div class="media-left">
      <div class="media-object" ></div>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><div class="loadingGrey"></div></h4>
      <p class="loadingGrey"></p>
      <ul class="loadingListStyle">
        <li><div class="loadingGrey"></div></li>
        <li><div class="loadingGrey"></div></li>
      </ul>
    </div>
  </div>
  <hr>
</div>
<div class="col-md-6 flash">
  <div class="media">
    <div class="media-left">
      <div class="media-object" ></div>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><div class="loadingGrey"></div></h4>
      <p class="loadingGrey"></p>
      <ul class="loadingListStyle">
        <li><div class="loadingGrey"></div></li>
        <li><div class="loadingGrey"></div></li>
      </ul>
    </div>
  </div>
  <hr>
</div>
<div class="col-md-6 flash">
  <div class="media">
    <div class="media-left">
      <div class="media-object" ></div>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><div class="loadingGrey"></div></h4>
      <p class="loadingGrey"></p>
      <ul class="loadingListStyle">
        <li><div class="loadingGrey"></div></li>
        <li><div class="loadingGrey"></div></li>
      </ul>
    </div>
  </div>
  <hr>
</div>
<div class="col-md-6 flash">
    <div class="media">
      <div class="media-left">
        <div class="media-object" ></div>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><div class="loadingGrey"></div></h4>
        <p class="loadingGrey"></p>
        <ul class="loadingListStyle">
          <li><div class="loadingGrey"></div></li>
          <li><div class="loadingGrey"></div></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="col-md-6 flash">
      <div class="media">
        <div class="media-left">
          <div class="media-object" ></div>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><div class="loadingGrey"></div></h4>
          <p class="loadingGrey"></p>
          <ul class="loadingListStyle">
            <li><div class="loadingGrey"></div></li>
            <li><div class="loadingGrey"></div></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="col-md-6 flash">
        <div class="media">
          <div class="media-left">
            <div class="media-object" ></div>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><div class="loadingGrey"></div></h4>
            <p class="loadingGrey"></p>
            <ul class="loadingListStyle">
              <li><div class="loadingGrey"></div></li>
              <li><div class="loadingGrey"></div></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
