/* You can add global styles to this file, and also import other style files */

%message-shared-icon {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right:10px;
    margin-top:20px;
    display: inline-block;
}

.bg-image{
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    background-color: #d5ebf1;; 
}


.mt{
    margin-top: 20px;
}

.mt-15{
    margin-top: 15%;
}
.card{
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border: 1px solid #e3e3e3;
}

.listIcon{
    background-image: url('/assets/move.png');
    @extend %message-shared-icon;
    background-position-x: -6px;
}
.tableIcon{
    background-image: url('/assets/all.png');
    @extend %message-shared-icon;
}


@media screen and (max-width: 768px) {
    .bg-image{
        height:280px
    }
}